@use './fonts' as *;

$light-txt-color: rgba(255, 255, 255, 1);
$red-txt-color: rgba(255, 78, 80, 1);
$titles-color: rgba(51, 51, 51, 1);
$dark-txt-color: rgba(51, 51, 51, 1);

$font-family: "Montserrat", sans-serif;
$second-family: "Roboto", sans-serif;