@use "../utils/fonts" as *;
@use "../utils/variables" as *;

.header {
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 320px) {
  .header {

    &__container {
      display: flex;
      flex-direction: column-reverse;
      gap: 112px;
      top: 20px;
    }
  }
}
