@use "../utils/fonts" as *;
@use "../utils/variables" as *;
@use "../utils/placeholders" as *;

.team {
  padding-top: 69px;
  padding-bottom: 72px;

  &__title {
    color: $titles-color;
    font-size: 22px;
    padding-bottom: 31px;
    font-weight: 700;
    padding-bottom: 72px;
    text-align: center
  }

  &__list {
    @extend %flex-center;
    padding-bottom: 37px;
    gap: 35px;
  }
}

@media (max-width: 768px) {
  .team {
    padding-top: 66px;
    padding-bottom: 39px;

    &__list {
      flex-wrap: wrap;
      gap: 51px;
      padding-bottom: 38px;
    }
  }
}

@media (max-width: 320px) {
  .team {
    padding-top: 60px;
    padding-bottom: 56px;

    &__list {
      gap: 27px;
    }
  }
}
