@use '../utils/fonts' as *;
@use '../utils/variables' as *;

body {
    font-family: $font-family;
    letter-spacing: 0;
}

.container {
    width: 914px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        max-width: 670px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 283px;
    }
}